@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
*{
    padding: 0;
    margin: 0; 
    font-family: 'Quicksand', sans-serif;
   }
body{
    background: #fff;
}
.container{
    position: relative;
    width: 100%;    min-height: 100vh;
    display: flex;
    justify-content: center;    align-items: center;
}
.container .box{
    position: relative;
    width: 50%;  
    background: rgba(0,0,0,.8);  
    box-sizing: border-box;
    padding: 30px;
    border-radius: 20px;
}
.container .box h1{
    color: #fff;
    text-align: center;  text-decoration: none;
    letter-spacing: 3px;
}
.container .box .row{
    position: relative;
    width: 100%;
    margin: 30px 0;
}
.container .box .row input{
    width: 100%;
    position: relative;
    border: none;  outline: none;
    font-size: 18px;
    padding: 10px 0;
    color: #fff;
    border-bottom: 2px solid #fff;
    background: transparent;
    z-index: 2;
}
.container .box .row input:focus , .container .box .row input:valid{
    border-bottom: 2px solid #2196f3; 
}
.container .box .row span{
    display: inline-block;
    position: absolute;
    top: 50%;  left: 0;
    transform: translateY(-50%);
    color: #fff;
    font-size: 18px;
    transition: .9s;
    z-index: 1;
}
.container .box .row input:focus + span , .container .box .row input:valid + span{
    top: 0;
    color: #2196f3;
    font-size: 15px;
}
.container .row input[type = 'submit']{
    width: initial;
    padding: 10px 20px;
    color: #fff;  background: #2196f3;
    border-radius: 20px;
    cursor: pointer;
}
